.card-product {
    flex: 1 250px;
    margin-top: 20px;
}

.btn-product {
    width: 100%;
    border-radius: 0px;
}

.jumbotron {
    margin-top: 85px;
    /* background-color: #ec4c4c; */
    background-image: url('../images/portada1.jpg');
    background-size: cover;
}

.jumbotron h3 {
    font-weight: bold;
}

.footer {
    margin-top: 30px;
    padding: 15px 35px 15px 35px;
    background-color: #ec4c4c;
    color: white;
}

.footer a:link, :visited {
    color: white;
}

.footer a:hover {
    color: #e73617;
}

.footer-address-icon {
    padding-right: 10px;
}

.breadcrumb a {
    color: #e73617;
}

.tab-content {
    padding-top: 15px;
}

.pointerCursor {
    cursor: pointer;
}