$redLego: #f00206;
$white: #ffff;
$backColor: #ec4c4c;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

.card-product {
    flex: 1 250px;
    /* margin-top: 20px; */
    @include margenes(20px, 0px);
}

.btn-product {
    width: 100%;
    border-radius: 0px;
}

.jumbotron {
    /* margin-top: 85px; */
    @include margenes(85px, 15px);
    /* background-color: #ec4c4c; */
    background-image: url('../images/portada1.jpg');
    background-size: cover;
}

.jumbotron h3 {
    font-weight: bold;
}

.footer {
    /* margin-top: 30px; */
    /*padding: 15px 35px 15px 35px;*/
    @include margenes(30px, 0px);
    @include paddings(15px, 35px, 15px, 35px);
    background-color: $backColor;
    color: $white;
}

.footer a:link, :visited {
    color: $white;
}

.footer a:hover {
    color: $redLego;
}

.footer-address-icon {
    /* padding-right: 10px; */
    @include paddings(0px, 10px, 0px, 0px);
}

.breadcrumb a {
    color: $redLego;
}

.tab-content {
    /* padding-top: 15px; */
    @include paddings(15px, 0px, 0px, 0px);
}

.pointerCursor {
    cursor: pointer;
}