.card-product {
  flex: 1 250px;
  /* margin-top: 20px; */
  margin-top: 20px;
  margin-bottom: 0px; }

.btn-product {
  width: 100%;
  border-radius: 0px; }

.jumbotron {
  /* margin-top: 85px; */
  margin-top: 85px;
  margin-bottom: 15px;
  /* background-color: #ec4c4c; */
  background-image: url("../images/portada1.jpg");
  background-size: cover; }

.jumbotron h3 {
  font-weight: bold; }

.footer {
  /* margin-top: 30px; */
  /*padding: 15px 35px 15px 35px;*/
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 15px 35px 15px 35px;
  background-color: #ec4c4c;
  color: #ffff; }

.footer a:link, :visited {
  color: #ffff; }

.footer a:hover {
  color: #f00206; }

.footer-address-icon {
  /* padding-right: 10px; */
  padding: 0px 10px 0px 0px; }

.breadcrumb a {
  color: #f00206; }

.tab-content {
  /* padding-top: 15px; */
  padding: 15px 0px 0px 0px; }

.pointerCursor {
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */
